@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 64px;
    color: #222;
    
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-p2{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color:transparent;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    margin-top: 5px;
}
body{
    width: 100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 80px;
    background-color: aquamarine;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    z-index:999;
    position: sticky;
    top:0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
   


}
#navbar li{
    list-style: none;
    padding: 0  20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s ease;
}
#navbar li a:hover{
    color: rgb(228, 228, 233);
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(16, 13, 205);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(70, 7, 215);
    bottom: -2px;
    left: 30px;
    position: absolute;
}
/*Show Page*/
#show{
    background-image:url(image/hero4.png);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0 ;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#show h4{
    padding: 0 10px;
    color: red;
}
#show h2{
    color: blue;
} 
#show h1{
    color: rgb(11, 152, 105);
}
#show button{
    background-image: url(image/button.png);
    background-color: transparent;
    border: 0;
    color: rgb(23, 97, 97);
    padding: 14px 80px 14px 65px;
    font-weight: 700;
    cursor: pointer;

}
#product {
    size: 20px;
}
#feture{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: left 2px;

}
#feture .frture-box{
 width: 160px;
 text-align: center;
 padding: 12px 1px;
 border: 1px solid  aquamarine;
 border-radius: 4px;
 margin: 15px 2px;
}
#feture .frture-box:hover{
    box-shadow: 20px 20px 34px rgb(0,0,0,0.03);
}
#feture .frture-box img{
    margin-bottom: 10px;
    width: 100%;
}
#feture .frture-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    background-color: aqua;
    display: inline;
    font-size: 12px;
    border-radius: 6px;
}
#feture .frture-box:nth-child(2) h6{
    background-color: beige;
}
#feture .frture-box:nth-child(3) h6{
    background-color: rgb(240, 240, 18);
}
#feture .frture-box:nth-child(4) h6{
    background-color: rgb(10, 237, 94);
}
#feture .frture-box:nth-child(5) h6{
    background-color: rgb(231, 27, 27);
}
#feture .frture-box:nth-child(6) h6{
    background-color: rgb(9, 240, 9);
}
#product{
    text-align: center;
}
#product .pro{
    width: 23%;
    min-width:260px;
    padding: 10px 12px;
    border:2px solid #cce7d0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0, 0, 0.3);
    margin-top: 15px;
    position: relative;
}
#product .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0, 0, 0.6);
    transition: 0.6s ease;
}
#product .pro img{
    min-width: 190px;
    width: 100%;
    border-radius: 10px;
}
#pro-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 12px;
}
#product .pro .des{
font-weight: 700;
text-align: start;
}
#product .pro .des span{
    font-size: 20px;
    color: red;
}
#product .pro h5{
    font-size: 18px;
    color:rgb(81, 0, 255);
}
#product .pro .card{
    width:40px;
    height: 40px;
    border-radius: 8px;
    line-height: 40px;
    background-color: rgb(210, 231, 224);
    font-weight: 700;
    color: blue;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 2px solid #cce7d0;
}
#product .pro .card:hover{
    background-color: rgb(146, 134, 197);
    cursor: pointer;
}
#bannar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    background-image: url(image/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;  

}
#bannar h4{
    color: white;
    font-size: 20px;
    padding: 10px 0px ;
}
#bannar h2{
color: white;
font-size: 30px;
padding: 10px;

}
#bannar h2 span{
    color: red;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align:center;
    background-image: url(image/banner/b17.jpg);
    min-width: 540px;
    height: 50vh;
    background-size: cover;
    background-position: center;   
    padding: 34px;  
}
#sm-banner h4{
    color: rgb(239, 239, 244);
    font-size: 20px;
    font-weight:500;
}
#sm-banner h2{
    color: red ;
    font-size: 30px;
    font-weight:700;
}
#sm-banner .banner-box:hover button{
    background-color: green;
    transition: 0.3s each ;
}
#sm-banner .banner2{
    background-image: url(image/banner/b10.jpg);
}
#benner3{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#benner3 .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align:center;
    background-image: url(image/banner/b7.jpg);
    height: 40vh;
    min-width: 30%;
    background-size: cover;
    background-position: center;   
    padding: 34px;  
    margin-bottom: 10px;
}
#benner3 .banner3{
    background-image: url(image/banner/b4.jpg);
}
#benner3 .banner4{
    background-image: url(image/banner/b18.jpg);

}
#benner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 20px;

}
#benner3 h3{
    color: #ee2727;
    font-weight:500 ;
    font-size: 15px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(image/banner/b14.png);
    background: no-repeat;
    background-position:20% 30%;
    background-color: #041e42;
}
#newsletter .newsletter1 h2{
    color: #fff;
    font-size: 22px;
    font-weight:900;
}
#newsletter h4{
    color: #818ea0;
    font-size: 14px;
    font-weight:600;
}
#newsletter .form{
    display: flex;
    width: 40%;

}

#newsletter input{
    height: 3.125rem;
    padding:0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
footer .logo{
    margin-bottom: 12px;
}
footer a{
    text-decoration: none;
    color: #088178;
    margin-top: 4px;
    font-weight: 600;
}
footer .follow i{
    color: #b0a6b1;
    padding-left: 4px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
}
footer .install .row img{
     border: 1px solid #088178;
     border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover{
  color: #088178;
}
@media (max-width:790px) {
    #navbar{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    top: 0;
    right: -400px;
    height: 100px;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0,0, 0.1 );
    padding: 80px 0 0 10px;
}
#navbar li{
    margin-bottom: 25px;

}
#navbar span {
    color: red;
}